.header
  width: 100%
  padding: 30px 0

  &-logotype {
    float: left;

    img {
      //vertical-align: middle;
    }
  }

  &-user {
    float: right;
    text-align: right;
  }

  &__logotype
    margin: 0 auto


.user
  &-controls
    input
      margin-left: 10px;